Resources/
.ipynb_checkpoints/
gararata.txt
007--InstallingPython.txt
my_new_file.txt
myfile.txt
UDM-Python-BTCMP-Resources.txt
Extracted Contents/
Final Unzip/
Zipped Instructions/
comp_file.zip
example.zip
fileone.txt
filetwo.txt
my_computer_image.jpg
unzip_me_for_instructions.zip
blue_color.png
mask.png
purple.png
word_matrix.png
example.jpg
my_computer_image.jpg
pencils.jpg
red_color.jpg
purple_color.png
Some_BrandNew_Doc.pdf
Some_New_Doc.pdf
Some_new_file.pdf
Working_Business_Proposal.pdf
example.csv
makeup_new.csv
to_save_file.csv
Find_the_Phone_Number.pdf
Some_BrandNew_Doc2.pdf
find_the_link.csv
