Resources/
.ipynb_checkpoints/
gararata.txt
007--InstallingPython.txt
my_new_file.txt
myfile.txt
UDM-Python-BTCMP-Resources.txt
Extracted Contents/
Final Unzip/
Zipped Instructions/
comp_file.zip
example.zip
fileone.txt
filetwo.txt
my_computer_image.jpg
unzip_me_for_instructions.zip
